@use "../abstracts/variables" as v;

body {
    font-family: v.$font-family;
    //[background-image] [background-repeat] [background-position]
    background: url(../../images/bg-pattern.svg) no-repeat 0 -3rem;
    font-size: calc(v.$font-size / 1.25);
    color: v.$grayish-blue;

    @media screen and (min-width: 768px) {
        background-position: top center;
        background-color: v.$very-pale-blue;
    }
}

.sr-only {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
}

#block_container {
    background-color: v.$white;

    @media screen and (min-width: 768px) {
        max-width: 33.75rem;
        margin-inline: auto;
    }
}