/* == Colors == */
/* = Primary = */
/* = Neutral = */
/* == Font == */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
/* Input Thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100vw;
  background: no-repeat url(../../images/icon-slider.svg) center, hsl(174, 86%, 45%);
  cursor: grab;
  box-shadow: 0 1rem 2rem 0 hsl(174, 86%, 45%);
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.75rem);
}
input[type=range]::-webkit-slider-thumb:hover {
  opacity: 50%;
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: hsl(174, 86%, 45%);
  box-shadow: 0 1rem 2rem 0 hsl(174, 86%, 45%);
  opacity: 1;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100vw;
  background: no-repeat url(../../images/icon-slider.svg) center, hsl(174, 86%, 45%);
  cursor: grab;
  box-shadow: 0 1rem 2rem 0 hsl(174, 86%, 45%);
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.75rem);
}
input[type=range]::-moz-range-thumb:hover {
  opacity: 50%;
}
input[type=range]::-moz-range-thumb:active {
  background-color: hsl(174, 86%, 45%);
  box-shadow: 0 1rem 2rem 0 hsl(174, 86%, 45%);
  opacity: 1;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100vw;
  background: no-repeat url(../../images/icon-slider.svg) center, hsl(174, 86%, 45%);
  cursor: grab;
  box-shadow: 0 1rem 2rem 0 hsl(174, 86%, 45%);
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.75rem);
}
input[type=range]::-ms-thumb:hover {
  opacity: 50%;
}
input[type=range]::-ms-thumb:active {
  background-color: hsl(174, 86%, 45%);
  box-shadow: 0 1rem 2rem 0 hsl(174, 86%, 45%);
  opacity: 1;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: hsl(224, 65%, 95%);
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: hsl(224, 65%, 95%);
}

input[type=range]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: hsl(224, 65%, 95%);
}

div {
  position: relative;
}
div label {
  position: absolute;
  left: 0;
  background-color: hsl(174, 77%, 80%);
  width: calc(50% - 1rem);
  height: 0.5rem;
  margin-block: 1rem;
  border-radius: 100vw;
}
div .form-range {
  height: 2.5rem;
}

#header {
  background: url(../../images/pattern-circles.svg) no-repeat center;
}
#header #header_title {
  color: hsl(227, 35%, 25%);
}
#header #header_description {
  padding-inline: 3.5rem;
  font-size: 0.8337777778rem;
}

@media screen and (min-width: 768px) {
  #header {
    margin-block: 1rem;
  }
  #header #header_title {
    font-size: 1.75875rem;
  }
  #header #header_description {
    font-size: 0.938rem;
  }
}
#price #price_pageviews {
  letter-spacing: 0.125rem;
  font-size: 0.7504rem;
}
#price .bill_value {
  color: hsl(227, 35%, 25%);
}
#price .bill_period {
  font-size: 0.8337777778rem;
}
#price .billing_period {
  gap: 0.75rem;
  position: relative;
  width: fit-content;
}
#price .billing_period .badge {
  position: absolute;
  right: -2.75rem;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  font-size: 0.6253333333rem;
  max-width: 2.125rem;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #price {
    margin-top: 3rem !important;
    padding-block: 2.75rem 1rem !important;
    padding-inline: 3rem !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas: "pages price" "range range" "bill bill";
    row-gap: 2rem !important;
  }
  #price #price_pageviews {
    grid-area: pages;
    width: fit-content;
    margin: 0 !important;
    font-size: 0.8527272727rem;
  }
  #price .range_block {
    grid-area: range;
  }
  #price .pricing_bill {
    grid-area: price;
  }
  #price .pricing_bill .bill_value {
    font-size: 2.345rem;
  }
  #price .pricing_bill .bill_period {
    font-size: 0.938rem;
  }
  #price .billing_period {
    grid-area: bill;
    padding: 0 !important;
    margin-bottom: auto;
  }
  #price .billing_period .badge {
    max-width: fit-content;
    right: -6rem;
  }
}
.start_trial .features_list {
  list-style-image: url(../../images/icon-check.svg);
}
.start_trial .features_list li {
  max-width: fit-content;
  padding-inline: 0.75rem;
}
.start_trial .btn {
  background-color: hsl(227, 35%, 25%);
  color: hsl(223, 50%, 87%);
  border-radius: 100vw;
  font-size: 0.7504rem;
  padding-block: 0.675rem;
  max-width: fit-content;
  transition: color 0.25s ease-in-out;
}
.start_trial .btn:hover {
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 768px) {
  .start_trial {
    padding-block: 2rem !important;
    padding-inline: 2rem;
    flex-direction: row !important;
    align-items: center;
  }
  .start_trial .features_list {
    flex: 1;
  }
  .start_trial .features_list li {
    margin: unset !important;
  }
  .start_trial .btn {
    flex: 1;
  }
}
.form-check .form-check-input {
  height: 1.475rem;
  width: 2.75rem;
  margin-top: 0;
  background-color: hsl(223, 50%, 87%);
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  transition: all 0.25s ease-in-out;
}
.form-check .form-check-input:hover {
  background-color: hsl(174, 77%, 80%);
  border-color: hsl(174, 77%, 80%);
  cursor: pointer;
}

body {
  font-family: "Manrope", sans-serif;
  background: url(../../images/bg-pattern.svg) no-repeat 0 -3rem;
  font-size: 0.7504rem;
  color: hsl(225, 20%, 60%);
}
@media screen and (min-width: 768px) {
  body {
    background-position: top center;
    background-color: hsl(230, 100%, 99%);
  }
}

.sr-only {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}

#block_container {
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 768px) {
  #block_container {
    max-width: 33.75rem;
    margin-inline: auto;
  }
}/*# sourceMappingURL=main.css.map */