@use "../abstracts/variables" as v;

.header{
    background: url(../../images/pattern-circles.svg) no-repeat center;

    .header_title {
        color: v.$dark-desaturated-blue;
    }

    .header_description {
        padding-inline: 3.5rem;
        font-size: calc(v.$font-size / 1.125);
    }
}