@use "../abstracts/variables" as v;

.pricing {
    background-color: v.$white;
}

.pricing_pageviews {
    letter-spacing: .125rem;
}

.bill_value {
    color: v.$dark-desaturated-blue;
}

.billing_period {
    position: relative;
    max-width: fit-content;
}

.badge {
    background-color: v.$light-grayish-red;
    color: v.$light-red;
    position: absolute;
    right: -2.5rem;
}