@use "../abstracts/variables" as v;

@mixin thumb() {
    -webkit-appearance: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100vw;
    background: 
    no-repeat url(../../images/icon-slider.svg) center,
    v.$strong-cyan;
    cursor: grab;
    box-shadow: 0 1rem 2rem 0 v.$strong-cyan;
    transition: all .3s ease-in-out;
    transform: translateY(-.75rem);

    &:hover {
        opacity: 50%;
    }

    &:active {
        background-color: v.$strong-cyan;
        box-shadow: 0 1rem 2rem 0 v.$strong-cyan;
        opacity: 1;
    }
}

@mixin track() {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: v.$light-grayish-blue-slider;
}